<!DOCTYPE html>
<html>   
    <title>Matricula Directa SIAVIE</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous"/>
    <style>
        #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

        #myTable th, #myTable td {
            text-align: left;
            padding: 12px;
        }

        #myTable tr {
            border-bottom: 1px solid #ddd;
        }

        #myTable tr.header, #myTable tr:hover {
            background-color: #f1f1f1;
        }
    </style>
    <body>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar Alumnos">
        <h3><span>Alumnos Matriculados</span></h3><br>           
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-3">
                <table class="table table-hover table-sm" id="myTable">
                    <thead class="thead-light">
                        <tr class="header">
                            <th style="width:60%;">NOMBRE</th>
                            <th style="width:40%;">EDAD</th>
                        </tr>
                    </thead>
                    <tbody th:each="persona : ${personas}">
                        <tr>
                            <td th:text="${persona.nombre}"></td>
                            <td th:text="${persona.edad}"></td>
                        </tr>
                    </tbody>
                </table>    
            </div>
        </div>
        <script>
            function myFunction() {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById("myTable");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        </script>
    </body>
</html>